@import url('./globalStyle.css');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
}

.header .logo{
    font-family: 'Open Sans', sans-serif;
    margin-right: 5rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.header .pages{
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color:#161637;
    gap: 2rem;
}