<div class="header">
    <!-- <div class="logo">
        <h2>TECSEG</h2>
    </div> -->
    <div class="logo-img">
        <img src="./src/images/tecseg.png" alt="">
    </div>
    <div class="pages">
        <div class="page">
            <span>Recursos</span>
            <i class="fi fi-rr-caret-down"></i>
        </div>
        <div class="page">
            <span>Feedbacks</span>
            <i class="fi fi-rr-caret-down"></i>
        </div>
        <div class="page">
            <span>Parceria</span>
            <i class="fi fi-rr-caret-down"></i>
        </div>
        <div class="page">
            <span>Contato</sp>
            <i class="fi fi-rr-caret-down"></i>
        </div>
    </div>
    <div class="buttons">
        <button>Log in</button>
        <button class="green">Registrar</button>
    </div>
</div>